SQLAlchemy~=1.4.28
psycopg2-binary
api~=0.0.7
pytz==2019.1
django-cors-headers
django-filter
djangorestframework-jwt
PyJWT
sqlparse==0.3.0
Django
djangorestframework
DateTime~=4.3
requests
uuid~=1.30
django-allauth
djoser
gspread~=5.4.0
oauth2client
google~=3.0.0
pandas
numpy
matplotlib
channels
mock
pygame
click
python-dateutil